
* {
  box-sizing: border-box;
}
body {
  max-width: 1920px;
  min-width: 320px;
  margin: 0;
  padding: 0;
}
#header-row1 {
  display: none;
}
nav li:hover {
  color: #7c5838;
  cursor: pointer;
}
li {
  list-style-type: none;
}
h1 {
  text-align: center;
  font-family: 'Sacramento', cursive;
  font-size: 4rem;
  margin: 0;
  padding-top: 20px;
  font-weight: lighter;
}
#bottom {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: .8rem;
  font-weight: bold;
  margin-top: -10px;
}
#line {
  width:50px;
  margin: 0 auto;
  border-top: 1px solid #000;
  padding-bottom: 30px;

}
#header-row3 {
  display: none;
}
#header-row4 {
  display: none;
}
#navPhone {
  position: absolute;
  top: 10px;
  left: 10px;
}
#navPhone:hover {
  cursor: pointer;
}
#navPhoneMenu {
  display: none;
	font-family: 'Josefin Sans', sans-serif;
	font-style: normal;
	font-size: .8rem;
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #222;
  text-align: center;
}
#navPhoneMenu li{
	display:inline-block;
  width: 100%;
}
#navPhoneMenu li a {
	display:block;
	color:#fff;
	padding: 14px 16px;
	text-decoration:none;
}
#navPhoneMenu li a:hover {
	color: #7c5838;
}
.bars {
  width: 30px;
  height: 2px;
  background-color: #000;
  margin: 6px 0;
}
#cart {
  position: absolute;
  top: 0px;
  right: 20px;
}
#cart li a {
  color: #000;
}
#cart .fas {
  font-size: .9rem;
}
.fas {
  font-size: 3.5rem;
  color: #fff;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fas:hover {
  opacity: .8;
  cursor: pointer;
}
footer {
  background: #222;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: .8rem;
  color: #fff;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
#footer-grid {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns:repeat(6, 2fr);
  grid-template-rows:repeat(4, minmax(0px, auto));
}
footer ul {
  padding: 0;
  line-height: 2rem;
  letter-spacing: .1rem;
  font-weight: lighter;

}
footer nav p {
  letter-spacing: .1rem;
  font-weight: bolder;
}
.footer-row1 {
  grid-column: 1/7;

}
.footer-row2 {
  grid-column: 1/7;

}
.footer-row3 {
  grid-column: 1/7;

}
.footer-row4 {
  grid-column: 1/7;

}
#news {
  letter-spacing: .1rem;
  font-weight: bolder;
}
footer form {
  width: 95%;
}
footer input {
  width: 95%;
  margin-left: 15px;
  padding: 15px;
}
small {
  letter-spacing: .2rem;
}
#signup-button {
  display: block;
  width: 120px;
  height: 41px;
  margin: 15px auto;
  background: #7c5838;
  color: #fff;
  border: none;
  letter-spacing: .2rem;
  text-align: center;
  font-size: .7rem;
  font-weight: 900;

}
#signup-button:hover {
  opacity: .8;
  cursor: pointer;
}
@media screen and (min-width:768px){
  #navPhone {
    display: none;
  }
  #cart {
    display: none;
  }
  .header-grid {
    display: grid;
    grid-template-columns:repeat(7, 2fr);
    grid-template-rows:repeat(4, minmax(0px, auto));
  }
  header nav ul {
    font-family: 'Josefin Sans', sans-serif;
    font-size: .73rem;
    font-weight: 500;
    letter-spacing: .15em;
  }
  header nav li {
    display: inline-block;
    margin: 0 15px;
  }
  header nav a {
    text-decoration: none;
    color: #000;
  }
  #header-row2 {
    grid-column: 1/8;
  }
  #header-row4 {
    display: unset;
    grid-column: 1/8;
    text-align: center;
  }
  #bottom-nav ul {
    margin-top: 0;
    margin-bottom: 30px;
  }

  #footer-grid {
    grid-template-columns:repeat(4, 2fr);
    grid-template-rows:repeat(4, minmax(0px, auto));
  }
  .footer-row1 {
    grid-column: 1/2;
  }
  .footer-row2 {
    grid-column: 2/3;
  }
  .footer-row3 {
    grid-column: 3/4;
  }
  .footer-row4 {
    grid-column: 4/5;
  }
}
@media screen and (min-width: 1200px){
  #footer-grid{
    width: 1200px;

  }
}
@media screen and (min-width: 1280px){
  #header-row1 {
    display: unset;
    grid-column: 1/4;

  }
  #left-nav ul {
    text-align: right;
    padding-right: 0;
  }
  header nav ul {
    margin-top: 70px;
  }
  #header-row2 {
    grid-column: 4/5;

  }
  #right-nav ul {
    text-align: left;
    padding-left: 0;

  }
  #header-row3 {
    display: unset;
    grid-column: 5/8;

  }
  #header-row4 {
    display: none;
  }

}
